assembly/**
automation-api/classes
automation-api/classes/**
automation-api/target/**
automation-api/bin/**
automation-api/\.*
automation-impl/classes
automation-impl/classes/**
automation-impl/target/**
automation-impl/bin/**
automation-impl/\.*
automation-common/classes
automation-common/classes/**
automation-common/target/**
automation-common/bin/**
automation-common/\.*
automation-jsystem/classes
automation-jsystem/classes/**
automation-jsystem/target/**
automation-jsystem/bin/**
automation-jsystem/\.*